@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

nav {
    width: 60%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'kdam Thmor Pro', sans-serif;
}

li:hover {
    color:#D21617;
}

#logo {
    margin-top: 14px;
    width: 150;
    height: 90px;
}

#logofooter {
    margin-top: 14px;
    width: 150;
    height: 90px;
}

@media( max-width: 480px){
header {
    background-image: url('../../assets/fundo-h.jpg');
    background-size: cover;
    height: 160px;
    width: 105%;
}

#logo {
    display: none;
}
            
nav { 
    display: flex;
}
            
ul {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
}
  
  